# From http://www.w3.org/TR/swbp-vocab-pub/#recipe4
Options -MultiViews

AddType application/rdf+xml .rdf .owl
AddType text/turtle .ttl
RewriteEngine On
AddCharset utf-8 .txt .log .ttl .html


##################
# Rewrite rule if *.owl, .ttl or .ttl  files are requested
##################
RewriteRule \.(owl|rdf|html|ttl|nt|txt|md|png)$ - [L]

##################
# Rewrite rule to serve  text/html content if requested
##################
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^core$ /core/mmoon-core_v0.6.0.ttl [R=303,L]

##################
# Rewrite rule to serve RDF/XML content if requested
##################
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^core$ /core/mmoon-core_v0.6.0.ttl [R=303,L]


#################
# Default
#################
RewriteRule ^core$ /core/mmoon-core_v0.6.0.ttl [R=303,L]
